@media only screen and (max-width: 700px) {
    .nav-bar-container {
        display: none;
    }
    .mobile-nav-bar-container {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 55px;
        z-index: 1;
        display: flex;
        align-items: center;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        transition: .2s height ease-out, .2s backdrop-filter ease-out;
        flex-direction: column;
        overflow: hidden;
    }

    .mobile-top {
        width: 100%;
        display: flex;
        align-items: center;
        height: 55px;
    }

    .mobile-hamburger {
        width: 35px;
        margin-right: 40px;
    }
    
    .mobileName {
        margin-left: 40px;
    }
}
@media screen and (min-width: 700px) {
    .nav-bar-container {
        display: flex;
    }
    .mobile-nav-bar-container {
        display: none;
    }
}

.nav-bar-container {
    position:fixed;
    top:0;
    left:0;
    width: var(--navbar-size);
    height: 100%;
    background-color: var(--primary-color);
    border-right: 1px solid var(--secondary-color);
    
    box-sizing: border-box;
    padding: 10px 5px;

    align-items: center;
    flex-direction: column;
}

.myName {
    font-size: 17px;
    text-align: left;
    width: 85%;
}

.button {
    width: 85%;
    box-sizing: border-box;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px 0;
    display: flex;
    text-decoration: none !important;
    color: var(--text-color)
}
.button:hover {
    background-color: rgb(220,220,220);
}
.selected {
    background-color: var(--select-color) !important;
    color: var(--select-text-color);
    font-weight: 600;
}

.subHeader {
    width: 85%;
    font-size: 15px;
    color: gray;
    font-weight: 500;
}
.button img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
    border-radius: 5px;
}